@import '../../_variables.scss';

.overlay-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    .background-image {
        opacity: 0.6;
        height: 200px;
        width: auto;
    }

    .text {
        position: absolute;
        background-color: rgba($OffWhite, 0.5);
        padding: 10px;
        line-height: 1;
        color: $DeepBlue;
        font-size: 1.5rem;
        font-family: $font-heading;
        font-weight: bold;

    }
}