@import '../../_variables.scss';

.overlay-section {
    width: 100%;
    position: relative;
    text-align: center;

    .background-image {
        opacity: 0.6;
        // height: 100%;
        width: 100%;
    }

    .text {
        position: absolute;
        font-size: 5.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($OffWhite, 0.5);
        padding: 10px;
        line-height: 1;

    }

    @media (max-width: 1000px) {
        .text {
            font-size: 3rem;
        }
    }
}