@import '../../_variables.scss';

.overlay-section {
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;

    .background-image {
        opacity: 0.6;
        height: 200px;
        width: auto;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($OffWhite, 0.5);
        padding: 10px;
        line-height: 1;
        color: $DeepBlue;
        font-size: 1.5rem;
        font-family: $font-heading;
        font-weight: bold;

    }

    @media (max-width: 1000px) {

        .text {
            top: 0;
            left: 0;
            transform: translate(0, 100%);
            width: 100%;
        }
    }
}