@import '../../_variables.scss';

.seal-section {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: $White;
    overflow: hidden;

    .seal-image {
        position: absolute;
        will-change: transform, top, left;
    }
}