@import '../../_variables.scss';

.seal-roll-section {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    outline: 5px solid $DeepBlue;

    .seal-roll-image {
        position: absolute;
        will-change: transform;
        transition: transform 0.2s ease-out;
        transform-origin: center center;
        pointer-events: auto;
    }
}