@import '../../variables.scss';

.button {
    display: inline-block;
    background-color: $DeepBlue;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: $OffWhite;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    font-family: $font-body;
}