@import '../../variables.scss';

.button {
    display: inline-block;
    background-color: $DeepBlue;
    padding: 1rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: $OffWhite;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-family: $font-body;
}