@import '../../variables.scss';

.text-image-section {
    padding-top: 3rem;
}

.text-image {
    display: flex;
    padding: 0 3rem 3rem 3rem;
    align-items: center;

    .image {
        justify-content: flex-start;
        width: 40%;
        height: auto;
        border-radius: 5%;
    }

    .text-button {
        justify-content: flex-end;
        padding-left: 5rem;

        .text {
            padding-bottom: 3rem;
        }
    }

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 3rem 1rem 3rem;

        .image {
            width: 100%;
            max-width: 500px;
        }

        .text-button {
            padding-left: 0;
            padding-top: 3rem;
        }
    }
}

.seal-name {
    padding-bottom: 0.5rem;
    color: $DeepBlue;
    font-size: 2.2rem;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
    }
}