@import '../../variables.scss';

.text-image-section {
    padding-top: 3rem;
}

.text-image {
    display: flex;
    padding: 0 5rem 3rem 5rem;
    align-items: center;

    .image {
        justify-content: flex-start;
        width: 40%;
        height: auto;
        border-radius: 5%;
    }

    .text-button {
        justify-content: flex-end;
        padding-left: 10rem;

        .text {
            padding-bottom: 3rem;
        }
    }
}

.seal-name {
    padding-bottom: 0.5rem;
    color: $DeepBlue;
    font-size: 2.2rem;
}