@import '../../variables.scss';

.card-section {
    padding-top: 3rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 3rem 3rem 3rem;
    justify-items: center;
}