@import '../../variables.scss';

.mission-paragraph,
.seal-instructions {
    padding-left: 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
}

.mission-paragraph,
.about-us-title {
    padding-bottom: 3rem;
}