@import '../../variables.scss';

.navbar {
    background-color: $DeepBlue;
    padding: 1rem 3rem;
    width: 100%;
    // Keep navbar on top
    position: fixed;
    z-index: 10;

    .max-width {
        width: 100%;
    }

    .navbar-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100%;

        .logo-image {
            height: 75px;
            width: auto;
        }
    }

    .navbar-links {
        .link-list {
            display: flex;
            gap: 5rem;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .nav-link {
        color: $OffWhite;
        text-decoration: none;
        font-family: $font-heading;
        font-size: 2rem;

        &:active,
        &:hover {
            text-decoration: underline;
            color: $White;
        }
    }

    // dropdown menu that is hidden on desktop
    .dropdown {
        display: none;
        background: none;
        border: none;
        padding: 0.3rem;
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px;
            background: white;
            transition: 0.3s;
        }
    }

    // Styles for mobile
    @media (max-width: 800px) {
        .dropdown {
            display: block;
        }

        .navbar-links {
            position: absolute;
            top: 70px;
            right: 0;
            padding: 0.5rem;
            // width: 100%;
            background-color: $DeepBlue;

            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            .link-list {
                flex-direction: column;
                padding: 1rem 0;
                gap: 1.2rem;
                text-align: center;
            }
        }

        .navbar-links.open {
            max-height: 300px;
        }

        .dropdown.open span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .dropdown.open span:nth-child(2) {
            opacity: 0;
        }

        .dropdown.open span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}