@import '../../_variables.scss';

.seal-section {
    flex: 0 0 500px;
    max-width: 500px;

    @media (max-width: 1000px) {
        flex: 0 0 0;
    }

    .fun-facts {
        height: 50px;
        margin-bottom: 10px;
        position: absolute;
        padding-left: 190px;
        width: 100%;
        text-align: left;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        @media (max-width: 450px) {
            font-size: 12px;
        }

        &.visible {
            opacity: 1;
        }
    }

    .seal-image {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
}