@import '../../variables.scss';

.slogan {
    text-align: center;
    color: $SunsetOrange;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.subheader-need-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mw-900 {
    max-width: 900px;
    margin: 1rem auto 2rem;
    background: $OffWhite;
    border: 1px solid $SteelGray;
    border-radius: 12px;
    padding: 0.75rem;
}