@import '../../variables.scss';

.slogan {
    text-align: center;
    color: $SunsetOrange;
    padding-top: 1rem;
    font-size: 2rem;
}

.game-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3rem;

    .game-button {
        font-size: 4rem;
    }
}

.subheader-need-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}