@import '../../variables.scss';



.subheader-need-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mw-900 {
    max-width: 900px;
    margin: 1rem auto 2rem;
    background: $OffWhite;
    border: 1px solid $SteelGray;
    border-radius: 12px;
    padding: 0.75rem;
}

.about-us-subheader,
.game-subheader,
.heat-map-subheader {
    padding-bottom: 3rem;
}

.heat-map-subheader {
    color: $Brown;
    padding-left: 3rem;
    font-size: 1.2rem;
}